.containerInvItem {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: 40vw;
    height: 60px;
    background-color: #E4F3F5;
    border-radius: 2rem;
}

.productName {
    font-size: 0.7rem;
    margin-left: 2rem;
}